<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!--
  <mvc:view-controller path="/hello" view-name="success"/>
  <mvc:interceptors>
      <mvc:interceptor>
          <mvc:mapping path="/hello"/>
          <bean></bean>
      </mvc:interceptor>
  </mvc:interceptors>
  <mvc:default-servlet-handler/>
  -->
</beans>